@import "../theme";

.link {
  text-decoration: none;
  color: $app_primary_color;
  font-family: 'Courier New', Courier, monospace;
}

.link:hover {
  text-decoration: underline !important;
}

.titleList {
  text-decoration: none;    list-style-type: none;
}

.titleListItem {
  margin: 0;
}

.smallMargin {
  margin: 0.5rem;
}

.code {
  text-decoration: none;
  color: $app_dark_color;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 550;
}

.largeTextArea {
  height: 15rem;
  width: 50%;
}